
<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="400px" *ngIf="services">
    <mat-grid-tile *ngFor="let serviceEl of services; let i = index ">
      <a
      style="cursor:pointer;"
      [routerLink]="[serviceEl.name]"
      routerLinkActive="active"
      >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{serviceEl.name}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]=serviceEl.imgUrl alt={{serviceEl.name}} >
        <mat-card-content class="dashboard-card-content">
            <p>
                {{serviceEl.desc}}
              </p>
        </mat-card-content>

      </mat-card>
      </a>
    </mat-grid-tile>

  </mat-grid-list>
  
</div>
<router-outlet></router-outlet>
